/** @format */
/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
    --blue-0: #0093fa;
    --blue-1st: #000a61;
    --blue-2nd: #0b40a8;
    --blue-3rd: #31ddff;
    --rose-1st: #86002b;
    --rose-2nd: #e55d8a;
    --rose-3rd: #e11e5e;
    
    --font-color: #ffffff;
    --border-color: #ffffff;
    --theme-1st: var(--blue-1st);
    --theme-2nd: var(--blue-2nd);
    --theme-3rd: var(--blue-3rd);
    --theme-4th: #000000;
}

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    color: var(--font-color);
    background-color: var(--theme-4th);
}

.bodyContainer {
    width: 100%;
    height: 100%;
    padding: 20px;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    
}

a,
button {
    -webkit-tap-highlight-color: transparent;
}

/*
button, a:hover {
    transform: scale(1.2);
}

button, a:active {
    transform: scale(0.8);
}
*/