/*

.back-container-home {
    position: relative;
    width: 100%;
	/////height: 100dvh;
    height: 450px;
    box-sizing: border-box;
    margin: 30px;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-container-home::before {
    position: absolute;
    content: "";
    display: block;
    width: 160%;
    height: 360px;
    background: linear-gradient(180deg,
            var(--theme-1st) 0%,
            var(--theme-2nd) 30%,
            var(--theme-2nd) 70%,
            var(--theme-3rd) 100%);
    animation: rotation 10000ms infinite alternate-reverse;
}

@keyframes rotation {
    0% {
        transform: rotateZ(0deg);
    }
    
    100% {
        transform: rotateZ(360deg);
    }
}

.container-home {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0px solid var(--border-color);
    width: 98%;
    height: 98%;
    border-radius: 10px;
    background-color: var(--theme-4th);
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 130px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
*/

.sheet-left {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

header {
    width: inherit;
    height: inherit;
}

footer {
    height: 140px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cheet-right {
    width: inherit;
    height: inherit;
    border-radius: 10px;
}

main {
    width: inherit;
    height: inherit;
    
    display: flex;
    justify-content: center;
}

/*********** Responsibe **************/

@media (max-width: 768px) {
    
    .back-container-home {
        margin: 0px;
        height: 100dvh;
    }
    
    .container-home {
        padding: 0px;
        position: absolute;
        box-sizing: border-box;
        border: 0.5px solid var(--border-color);
        width: 99%;
        height: 99%;
        background-color: var(--theme-4th);
        border-radius: 5px;
        overflow-y: scroll;
        overflow-x: none;
        
        scrollbar-gutter: stable;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 70px 30px;
        grid-column-gap: 0;
        grid-row-gap: 0;
        
        header {
            grid-area: 2 / 1 / 3 / 2;
            background-color: transparent;
            width: 100%;
            height: auto;
            padding-block-start: 0px;
            text-wrap: wrap;
            box-sizing: border-box;
            padding-bottom: 40px;
            border-top: 1px solid var(--border-color);
            border-radius: 10px 10px 0 0;
            
            div {
                text-align: left;
                margin-block-start: 25px;
                margin-inline-start: 5px;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 10px;
                
                div {
                    margin-block-end: 0px;
                    
                    h1 {
                        font-size: 27px;
                        width: 200px;
                    }
                    
                    h2 {
                        font-size: 35px;
                        font-weight: 300;
                        
                        background: linear-gradient(230deg,
                                rgb(8, 87, 233) 0%,
                                rgb(27, 81, 203) 10%,
                                rgb(144, 188, 255) 17%,
                                rgb(18, 63, 165) 24%,
                                rgb(18, 63, 165) 35%,
                                rgb(27, 81, 203) 40%,
                                rgb(144, 188, 255) 48%,
                                rgb(18, 63, 165) 54%,
                                rgb(26, 90, 195) 60%,
                                rgb(27, 81, 203) 67%,
                                rgb(144, 188, 255) 75%,
                                rgb(18, 63, 165) 82%,
                                rgb(18, 87, 165) 89%,
                                rgb(27, 100, 188) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                
                p {
                    margin-inline-start: 8px;
                    text-justify: distribute;
                    text-align: start;
                    width: 80%;
                }
            }
        }
        
        main {
            grid-area: 1 / 1 / 2 / 2;
            position: relative;
            width: 100%;
            height: calc(100% - 1px);
            background-color: transparent;
            box-sizing: border-box;
            border-radius: 0 0 10px 10px;
            border-bottom: 1px solid var(--border-color);
            
            img:first-child {
                position: absolute;
                width: 180px;
                height: auto;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 50%);
            }
            
            img:last-child {
                width: 350px;
                height: auto;
                border-radius: 0 15% 15px 0;
                transform: scale(.6);
                background-color: var(--theme-1st);
                border-radius: 50%;
            }
            
        }
        
        footer {
            grid-area: 3 / 1 / 4 / 2;
            background-color: var(--theme-2nd);
            width: 100%;
            height: 100%;
            align-self: flex-start;
            border: none;
            border-radius: 0;
            margin-block-end: 30px;
            box-shadow: inset 0 0 3px 1px var(--theme-1st);
            display: flex;
            justify-content: center;
        }
    }
}