
.sheet-left {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 120px;
    grid-template-areas: "header" "footer";
}

.swipe_up {
    visibility: hidden;
    position: absolute;
    bottom: 20px;
    right: 20px;
    animation: moveUp 2s ease-in infinite both;
}

@keyframes moveUp {
    to {
        bottom: 100px;
    }
}

.sheet-right {
    width: inherit;
    height: inherit;
    border-radius: 10px;
}

main {
    width: inherit;
    height: inherit;
    
    display: flex;
    justify-content: center;
}

/*********** Responsibe **************/

@media (width <= 800px) {
    
    .sheet-left {
        height: 380px;
        overflow: auto;
            
        grid-gap: 20px;
    }
    
    .swipe_up {
        visibility: visible;
    }
}
