.sheet-left {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid var(--border-color);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

@media (width > 800px) {
  .sheet-left {
    height: 440px;
  }
}

.swipe_up {
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  animation: moveUp 2s ease-in infinite both;
}

@keyframes moveUp {
  to {
    bottom: 100px;
  }
}

.sheet-right {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

main {
  width: inherit;
  height: inherit;
  
  display: flex;
  justify-content: center;
}

/*********** Responsibe **************/

@media (width <=800px) {
  
  .sheet-left {
    height: 390px;
    padding-block-end: 20px;
  }
  
  .swipe_up {
    visibility: visible;
  }
}