
.backContainerLayout {
    position: relative;
    max-width: 1024px;
    width: 100%;
    height: 450px;
    
    box-sizing: border-box;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.backContainerLayout:before {
    position: absolute;
    content: "";
    display: block;
    width: 1000%;
    height: 360px;
    background: linear-gradient(180deg,
            var(--theme-1st) 0%,
            var(--theme-2nd) 30%,
            var(--theme-2nd) 70%,
            var(--theme-3rd) 100%);
    animation: rotation 10000ms infinite alternate-reverse;
}

@keyframes rotation {
    0% {
        transform: rotateZ(0deg);
    }
    
    100% {
        transform: rotateZ(360deg);
    }
}

.containerLayout {
    position: absolute;
    box-sizing: border-box;
    border: 0 solid var(--border-color);
    width: 98%;
    height: 98%;
    border-radius: 10px;
    background-color: var(--theme-4th);
    
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: Calc(450px - 2%);
    grid-template-areas: "left right";
}


@media (width <= 800px){
    .backContainerLayout {
        height: 800px;
    }

    .containerLayout {
        grid-template-columns: 1fr;
        grid-template-rows: 400px 1fr;
        grid-template-areas: "right" "left";
    }
}