
/* The switch - the box around the slider */
.switch-language {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: absolute;
  top: 10px;
  right: 100px;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  z-index: 999999;
  
  cursor: pointer;
  background-color: #303136;
  border: 2px solid #303136;
  border-radius: 20px;
  transition: .4s;
  border-radius: 30px;
  user-select: none;
}

/* Hide default HTML checkbox */
.switch-language input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-language:has(input[type="checkbox"]:checked) .slider-language {
    transform: translate(100%, -50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    border-radius: 2px 20px 20px 2px;
}

/* The slider */
.slider-language {
    position: absolute;
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px 2px 2px 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    transition: .4s;
    display: grid;
    place-content: center;
    font-weight: bold;
    color: var(--font-color);
}

input:checked + .slider-language {
  background-color: #303136;
}

input:checked + .slider-language:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}